/* Write your CSS here */

.login-bg {
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  height: 400px;
  width: 500px;
  background: linear-gradient(#2b2c49, #b5b9ff);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: center;
  border-radius: 10px;
  font-family: 'Roboto';
}
